{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% block style %}{% endblock style %}
    <title>
        {% block title %}Smart Topic Extractor{% endblock title %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'rootapp/assets/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }
    </style>
    <link href="{% static 'rootapp/css/styles.css' %}" rel="stylesheet" />
    {% endblock head %}
</head>

<body class="bg-image" style="background-image: url({% static 'rootapp/images/pattern.jpg' %});
            height: 100vh">
    {% include "rootapp/mainnav.html" %}
    {% block header %}
    {% endblock header %}
    <!-- Page Content-->
    {% block content %}
    {% endblock content %}
    <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'rootapp/js/scripts.js' %}"></script>
</body>

</html>